<<nav>
  <div class="logo">
    <b>Ta</span>l<span>o</span>S</b></div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <ul>
    <li><a class="active">Home</a></li>
    <li><a>Chats</a></li>
    <!-- <li><a>Products</a></li> -->
    <li><a>About us</a></li>
    <li><a>Account</a></li>
  </ul>
</nav>