<<nav>
  <div class="logo">
    <b>Ta</span>l<span>o</span>S</b></div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
    <ul>
      <li>
          <a href=homepage>Home</a>
      </li>
      <li>
          <a href=chatroom>Chats</a>
      </li>
      <li>
          <a href=account>Account</a>
      </li>
    </ul>
  </nav>

<form class="form" action="account" method="get">
  <input type="text" name="user" placeholder="Username">
  <input type="password" name="pass" placeholder="Password">
  <input type="submit" name="login" value="Enter">
</form>

