<<nav>
  <div class="logo">
    <b>Ta</span>l<span>o</span>S</b></div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
    <ul>
      <li>
          <a href=homepage>Home</a>
      </li>
      <li>
          <a href=chatroom>Chats</a>
      </li>
      <li>
          <a href=aboutus>About Us</a>
      </li>
    </ul>
  </nav>
