<<nav>
  <div class="logo">
    <b>Ta</span>l<span>o</span>S</b></div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
    <ul>
      <li>
          <a href=signup>Sign Up</a>
      </li>
    </ul>
  </nav>


<!-- <div class="wrapper">
	<div class="container">
    <h1>Welcome</h1> -->
    
    <!-- <form (action="/auth/local?next=login", method="post")
    div
       input(name="identifier" type="text")
    div
       input(name="password" type="password")
    div
       input(type="submit") -->
		
    <form class="form" action="account" method="get">
			<input type="text" name="user" placeholder="Username">
			<input type="password" name="pass" placeholder="Password">
			<input type="submit" name="login" value="Enter">
		</form>


		