<<nav>
  <div class="logo">
    <b>Ta</span>l<span>o</span>S</b></div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  </nav>


<form class="form" action="pages/account" method="post">
  <input type="text" name="user" placeholder="Full Name">
  <input type="text" name="user" placeholder="Email">
  <input type="password" name="pass" placeholder="Password">
  <input type="password" name="pass" placeholder="Confirm  Password">
  <input type="submit" name="login" value="Enter">
</form>
